@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0;
    border: 0;
    color: rgba(255, 255, 255, 0.95);
    font-size: 40px;
    font-family: 'Exo', sans-serif;
    font-weight: 900;
    text-shadow: 9px 9px 20px #000000;
  
    
    
  }

  .base{
      margin: auto;
      height: auto;
      width: 95%;
     
     
      background-color: aqua;
      -webkit-transform: skewX(10deg);
      transform: skewX(10deg);
      text-align: center;
      overflow: hidden;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 5px;
      padding-right: 5px;
  }